SmallTest/SmallTest/SmallTest/Service References/com.startajob/IGeneralservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn:General.Intf" name="IGeneralservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:General.Intf">
      <xs:complexType name="ArrayOfByte">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="xs:unsignedByte[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="Login0Request">
    <part name="UserName" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="IP" type="xs:string" />
  </message>
  <message name="Login0Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="RegisterNewCustomer1Request">
    <part name="Email" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="FirstName" type="xs:string" />
    <part name="LastName" type="xs:string" />
    <part name="Mobile" type="xs:string" />
    <part name="CountryID" type="xs:int" />
    <part name="aID" type="xs:int" />
    <part name="SignupIP" type="xs:string" />
  </message>
  <message name="RegisterNewCustomer1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetCustomerInfo2Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="DataEntityId" type="xs:int" />
  </message>
  <message name="GetCustomerInfo2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="UpdateCustomer3Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="ValuesArray" type="xs:string" />
  </message>
  <message name="UpdateCustomer3Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="VerifyEmail4Request">
    <part name="EntityID" type="xs:int" />
    <part name="TokenId" type="xs:string" />
  </message>
  <message name="VerifyEmail4Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="VerifyMobile5Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="Mobile" type="xs:string" />
    <part name="Code" type="xs:string" />
  </message>
  <message name="VerifyMobile5Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetProductImageSrc6Request">
    <part name="ProductID" type="xs:int" />
    <part name="Size" type="xs:int" />
  </message>
  <message name="GetProductImageSrc6Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetProductList7Request">
    <part name="CatalogID" type="xs:int" />
    <part name="Country" type="xs:int" />
  </message>
  <message name="GetProductList7Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetCountriesList8Request" />
  <message name="GetCountriesList8Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetRequestsCount9Request" />
  <message name="GetRequestsCount9Response">
    <part name="return" type="xs:int" />
  </message>
  <message name="GetVersion10Request" />
  <message name="GetVersion10Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetCategoryNames11Request">
    <part name="JobCategoryID" type="xs:int" />
  </message>
  <message name="GetCategoryNames11Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetSkillsList12Request">
    <part name="JobCategoryID" type="xs:int" />
  </message>
  <message name="GetSkillsList12Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="UpdateImage13Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="DBName" type="xs:string" />
    <part name="TableName" type="xs:string" />
    <part name="FieldName" type="xs:string" />
    <part name="PrimaryFieldName" type="xs:string" />
    <part name="PrimFieldValue" type="xs:int" />
    <part name="Image" type="ns1:ArrayOfByte" />
  </message>
  <message name="UpdateImage13Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Encrypt14Request">
    <part name="DataString" type="xs:string" />
  </message>
  <message name="Encrypt14Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="RomaTestFunc15Request" />
  <message name="RomaTestFunc15Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Deposit16Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="AgentID" type="xs:int" />
    <part name="paymentID" type="xs:int" />
    <part name="Amount" type="xs:double" />
    <part name="NameOnCard" type="xs:string" />
    <part name="Card_Number" type="xs:string" />
    <part name="CVV" type="xs:string" />
    <part name="ExpMonth" type="xs:int" />
    <part name="ExpYear" type="xs:int" />
    <part name="CurrencyID" type="xs:int" />
    <part name="ChargedRemark" type="xs:string" />
    <part name="DitributorId" type="xs:int" />
  </message>
  <message name="Deposit16Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetMyPaymentMethod17Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
  </message>
  <message name="GetMyPaymentMethod17Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="Withdraw18Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="PaymentId" type="xs:int" />
    <part name="amount" type="xs:double" />
    <part name="NameOnCard" type="xs:string" />
    <part name="Card_number" type="xs:string" />
    <part name="CVV" type="xs:string" />
    <part name="ExpMonth" type="xs:int" />
    <part name="ExpYear" type="xs:int" />
    <part name="CurrencyId" type="xs:int" />
    <part name="ChargedRemark" type="xs:string" />
    <part name="AccountNumber" type="xs:string" />
    <part name="BranchNumber" type="xs:string" />
    <part name="Bank" type="xs:string" />
    <part name="City" type="xs:string" />
    <part name="SWIFT" type="xs:string" />
    <part name="IBAN" type="xs:string" />
    <part name="SortCode" type="xs:string" />
    <part name="CountryID" type="xs:int" />
  </message>
  <message name="Withdraw18Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetMyTransactions19Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="DateFrom" type="xs:string" />
    <part name="DateTo" type="xs:string" />
    <part name="LimitFrom" type="xs:int" />
    <part name="LimitTo" type="xs:int" />
  </message>
  <message name="GetMyTransactions19Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="EditSkill20Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="SkillID" type="xs:int" />
    <part name="JobCategoryID" type="xs:int" />
    <part name="SkillName" type="xs:string" />
  </message>
  <message name="EditSkill20Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetCompanyInfo21Request">
    <part name="DataEntityId" type="xs:int" />
  </message>
  <message name="GetCompanyInfo21Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ForgotPassword22Request">
    <part name="UserName" type="xs:string" />
    <part name="Language" type="xs:string" />
  </message>
  <message name="ForgotPassword22Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="VerifyBacklink23Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
  </message>
  <message name="VerifyBacklink23Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="BuyProduct24Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="productId" type="xs:int" />
    <part name="Quantity" type="xs:int" />
    <part name="JobId" type="xs:int" />
  </message>
  <message name="BuyProduct24Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetWithdrawHistory25Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="LimitFrom" type="xs:int" />
    <part name="LimitTo" type="xs:int" />
  </message>
  <message name="GetWithdrawHistory25Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="VerifyPayment26Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="PaymentID" type="xs:int" />
    <part name="Amount" type="xs:double" />
    <part name="CardNumber" type="xs:string" />
  </message>
  <message name="VerifyPayment26Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetStates27Request">
    <part name="CountryISO" type="xs:string" />
  </message>
  <message name="GetStates27Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetCities28Request">
    <part name="CountryISO" type="xs:string" />
    <part name="StateISO" type="xs:string" />
  </message>
  <message name="GetCities28Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="CancelWithdraw29Request">
    <part name="EntityID" type="xs:int" />
    <part name="Username" type="xs:string" />
    <part name="Password" type="xs:string" />
    <part name="WithdrawID" type="xs:int" />
  </message>
  <message name="CancelWithdraw29Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IGeneral">
    <operation name="Login">
      <input message="tns:Login0Request" />
      <output message="tns:Login0Response" />
    </operation>
    <operation name="RegisterNewCustomer">
      <input message="tns:RegisterNewCustomer1Request" />
      <output message="tns:RegisterNewCustomer1Response" />
    </operation>
    <operation name="GetCustomerInfo">
      <input message="tns:GetCustomerInfo2Request" />
      <output message="tns:GetCustomerInfo2Response" />
    </operation>
    <operation name="UpdateCustomer">
      <input message="tns:UpdateCustomer3Request" />
      <output message="tns:UpdateCustomer3Response" />
    </operation>
    <operation name="VerifyEmail">
      <input message="tns:VerifyEmail4Request" />
      <output message="tns:VerifyEmail4Response" />
    </operation>
    <operation name="VerifyMobile">
      <input message="tns:VerifyMobile5Request" />
      <output message="tns:VerifyMobile5Response" />
    </operation>
    <operation name="GetProductImageSrc">
      <input message="tns:GetProductImageSrc6Request" />
      <output message="tns:GetProductImageSrc6Response" />
    </operation>
    <operation name="GetProductList">
      <input message="tns:GetProductList7Request" />
      <output message="tns:GetProductList7Response" />
    </operation>
    <operation name="GetCountriesList">
      <input message="tns:GetCountriesList8Request" />
      <output message="tns:GetCountriesList8Response" />
    </operation>
    <operation name="GetRequestsCount">
      <input message="tns:GetRequestsCount9Request" />
      <output message="tns:GetRequestsCount9Response" />
    </operation>
    <operation name="GetVersion">
      <input message="tns:GetVersion10Request" />
      <output message="tns:GetVersion10Response" />
    </operation>
    <operation name="GetCategoryNames">
      <input message="tns:GetCategoryNames11Request" />
      <output message="tns:GetCategoryNames11Response" />
    </operation>
    <operation name="GetSkillsList">
      <input message="tns:GetSkillsList12Request" />
      <output message="tns:GetSkillsList12Response" />
    </operation>
    <operation name="UpdateImage">
      <input message="tns:UpdateImage13Request" />
      <output message="tns:UpdateImage13Response" />
    </operation>
    <operation name="Encrypt">
      <input message="tns:Encrypt14Request" />
      <output message="tns:Encrypt14Response" />
    </operation>
    <operation name="RomaTestFunc">
      <input message="tns:RomaTestFunc15Request" />
      <output message="tns:RomaTestFunc15Response" />
    </operation>
    <operation name="Deposit">
      <input message="tns:Deposit16Request" />
      <output message="tns:Deposit16Response" />
    </operation>
    <operation name="GetMyPaymentMethod">
      <input message="tns:GetMyPaymentMethod17Request" />
      <output message="tns:GetMyPaymentMethod17Response" />
    </operation>
    <operation name="Withdraw">
      <input message="tns:Withdraw18Request" />
      <output message="tns:Withdraw18Response" />
    </operation>
    <operation name="GetMyTransactions">
      <input message="tns:GetMyTransactions19Request" />
      <output message="tns:GetMyTransactions19Response" />
    </operation>
    <operation name="EditSkill">
      <input message="tns:EditSkill20Request" />
      <output message="tns:EditSkill20Response" />
    </operation>
    <operation name="GetCompanyInfo">
      <input message="tns:GetCompanyInfo21Request" />
      <output message="tns:GetCompanyInfo21Response" />
    </operation>
    <operation name="ForgotPassword">
      <input message="tns:ForgotPassword22Request" />
      <output message="tns:ForgotPassword22Response" />
    </operation>
    <operation name="VerifyBacklink">
      <input message="tns:VerifyBacklink23Request" />
      <output message="tns:VerifyBacklink23Response" />
    </operation>
    <operation name="BuyProduct">
      <input message="tns:BuyProduct24Request" />
      <output message="tns:BuyProduct24Response" />
    </operation>
    <operation name="GetWithdrawHistory">
      <input message="tns:GetWithdrawHistory25Request" />
      <output message="tns:GetWithdrawHistory25Response" />
    </operation>
    <operation name="VerifyPayment">
      <input message="tns:VerifyPayment26Request" />
      <output message="tns:VerifyPayment26Response" />
    </operation>
    <operation name="GetStates">
      <input message="tns:GetStates27Request" />
      <output message="tns:GetStates27Response" />
    </operation>
    <operation name="GetCities">
      <input message="tns:GetCities28Request" />
      <output message="tns:GetCities28Response" />
    </operation>
    <operation name="CancelWithdraw">
      <input message="tns:CancelWithdraw29Request" />
      <output message="tns:CancelWithdraw29Response" />
    </operation>
  </portType>
  <binding name="IGeneralbinding" type="tns:IGeneral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="Login">
      <soap:operation soapAction="urn:General.Intf-IGeneral#Login" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="RegisterNewCustomer">
      <soap:operation soapAction="urn:General.Intf-IGeneral#RegisterNewCustomer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCustomerInfo">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetCustomerInfo" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UpdateCustomer">
      <soap:operation soapAction="urn:General.Intf-IGeneral#UpdateCustomer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="VerifyEmail">
      <soap:operation soapAction="urn:General.Intf-IGeneral#VerifyEmail" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="VerifyMobile">
      <soap:operation soapAction="urn:General.Intf-IGeneral#VerifyMobile" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetProductImageSrc">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetProductImageSrc" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetProductList">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetProductList" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCountriesList">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetCountriesList" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetRequestsCount">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetRequestsCount" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetVersion">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetVersion" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCategoryNames">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetCategoryNames" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetSkillsList">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetSkillsList" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UpdateImage">
      <soap:operation soapAction="urn:General.Intf-IGeneral#UpdateImage" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Encrypt">
      <soap:operation soapAction="urn:General.Intf-IGeneral#Encrypt" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="RomaTestFunc">
      <soap:operation soapAction="urn:General.Intf-IGeneral#RomaTestFunc" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Deposit">
      <soap:operation soapAction="urn:General.Intf-IGeneral#Deposit" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetMyPaymentMethod">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetMyPaymentMethod" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Withdraw">
      <soap:operation soapAction="urn:General.Intf-IGeneral#Withdraw" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetMyTransactions">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetMyTransactions" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EditSkill">
      <soap:operation soapAction="urn:General.Intf-IGeneral#EditSkill" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCompanyInfo">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetCompanyInfo" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ForgotPassword">
      <soap:operation soapAction="urn:General.Intf-IGeneral#ForgotPassword" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="VerifyBacklink">
      <soap:operation soapAction="urn:General.Intf-IGeneral#VerifyBacklink" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="BuyProduct">
      <soap:operation soapAction="urn:General.Intf-IGeneral#BuyProduct" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetWithdrawHistory">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetWithdrawHistory" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="VerifyPayment">
      <soap:operation soapAction="urn:General.Intf-IGeneral#VerifyPayment" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetStates">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetStates" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCities">
      <soap:operation soapAction="urn:General.Intf-IGeneral#GetCities" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="CancelWithdraw">
      <soap:operation soapAction="urn:General.Intf-IGeneral#CancelWithdraw" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:General.Intf-IGeneral" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IGeneralservice">
    <port name="IGeneralPort" binding="tns:IGeneralbinding">
      <soap:address location="http://isapi.mekashron.com/StartAJob/General.dll/soap/IGeneral" />
    </port>
  </service>
</definitions>